@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
.main {
  min-height: 100vh;
}
body {
  background-color: rgb(208, 230, 231);
  overflow-y: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: all 1s ease;
}
.task_div {
  width: 100%;
  padding: 0;
  margin: auto;
}

.content {
  padding: 0;
}
.crossed{
    text-decoration:line-through;
}